@import './assets/fonts.css';

.wrapper {
  background-color: #014e56;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 380px;
  align-items: center;
  display: flex;
  gap: 80px;
}

.logo h3 {
  font-size: 32px;

  color: white;
}

.header-ul {
  gap: 40px;
  align-items: center;
  display: flex;
}

.header-li a {
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}

.auth button {
  padding: 9px 33px 11px 32px;
  border-radius: 24px;

  border: 2px solid #ffffff;
  background-color: #014e56;
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.auth button:hover {
  transform: scale(0.95);
  background-color: #016a78;
}

.main {
  padding-top: 129px;
  padding-bottom: 250px;
}

.main-title {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-title h2 {
  width: 635px;
  font-family: 'Livvic';
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: #ffffff;
}

.span {
  font-family: 'Livvic';
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: red;
}

.main-nav {
  width: 445px;
}

.btn {
  position: relative;
  width: 50px;
  height: 4px;
}

.main-nav p {
  padding-top: 79px;
  width: 445px;
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #ffffff;
}

.section {
  display: flex;
  gap: 125px;
  padding: 140px 165px;
  height: 684px;

  background-color: #012f34;
}

.section-title {
  width: 445px;
}

.section-title-title {
  width: 445px;
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
}

.section-main-first {
  width: 540px;
}

.section-main-first h2 {
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(246, 126, 126, 1);
}

.section-main-first p {
  width: 445px;
  padding-top: 16px;
  font-family: 'Livvic';
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.section-main-two {
  width: 540px;
}

.section-main-two h2 {
  padding-top: 32px;
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(246, 126, 126, 1);
}

.section-main-two p {
  width: 445px;
  padding-top: 16px;
  font-family: 'Livvic';
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.section-main-three {
  width: 540px;
}

.section-main-three h2 {
  padding-top: 32px;
  padding-bottom: 16px;
  font-family: 'Livvic';
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(246, 126, 126, 1);
}

.section-main-three p {
  width: 445px;
  font-family: 'Livvic';
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}


@media (max-width: 992px) {
  .container {
    padding: 30px;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .logo {
    width: 340px;
    gap: 40px;
  }

  .logo h3 {
    font-size: 28px;

    color: white;
  }

  .header-ul {
    gap: 30px;

  }

  .header-li a {
    font-size: 18px;
    line-height: 26px;
  }

  .auth button {
    padding: 8px 30px 10px 30px;

    font-size: 16px;
    line-height: 26px;

  }

  .main {
    padding-top: 80px;
    padding-bottom: 200px;
  }

  .main-title {
    flex-direction: column;
    gap: 25px;
  }

  .main-title h2 {
    width: 620px;
    font-size: 80px;
    line-height: 80px;
  }

  .span {
    font-size: 80px;
    line-height: 80px;
    color: white;
  }

  .main-nav {
    width: 430px;
  }

  .btn {
    width: 40px;
    height: 2px;
  }

  .main-nav p {
    padding-top: 70px;
    width: 430px;
    font-size: 16px;
    line-height: 26px;
  }


  .section {
    flex-direction: column;
    gap: 70px;
    padding: 120px 145px;
    height: 670px;

  }

  .section-title {
    width: 430px;
  }

  .section-title-title {
    width: 430px;
    font-size: 44px;
    line-height: 44px;
  }

  .section-main-first {
    width: 525px;
  }

  .section-main-first h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .section-main-first p {
    width: 430px;
    padding-top: 14px;
    font-family: 'Livvic';
    font-size: 13px;
    line-height: 20px;
  }

  .section-main-two {
    width: 530px;
  }

  .section-main-two h2 {
    padding-top: 26px;
    font-family: 'Livvic';
    font-size: 16px;
    line-height: 24px;
  }

  .section-main-two p {
    width: 430px;
    padding-top: 14px;
    font-size: 13px;
    line-height: 22px;
  }

  .section-main-three {
    width: 530px;
  }

  .section-main-three h2 {
    padding-top: 26px;
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .section-main-three p {
    width: 430px;
    font-size: 13px;
    line-height: 22px;
  }




}

@media (max-width: 768px) {
  .container {
    padding: 25px;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    width: 320px;
    gap: 30px;
  }

  .logo h3 {
    font-size: 24px;

  }

  .header-ul {
    gap: 22px;

  }

  .header-li a {
    font-size: 16px;
    line-height: 24px;
  }

  .auth button {
    padding: 6px 28px 8px 28px;

    font-size: 14px;
    line-height: 24px;

  }


  .main {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .main-title {
    gap: 15px;
  }

  .main-title h2 {
    width: 600px;
    font-size: 60px;
    line-height: 60px;
  }

  .span {
    font-size: 60px;
    line-height: 60px;
  }

  .main-nav {
    width: 420px;
  }

  .btn {
    width: 30px;
    height: 1px;
  }

  .main-nav p {
    padding-top: 40px;
    width: 400px;
    font-size: 14px;
    line-height: 22px;
  }

  .section {
    flex-direction: column;
    gap: 50px;
    padding: 100px 110px;
    height: 610px;

  }

  .section-title {
    width: 410px;
  }

  .section-title-title {
    width: 410px;
    font-size: 38px;
    line-height: 38px;
  }

  .section-main-first {
    width: 500px;
  }

  .section-main-first h2 {
    font-size: 14px;
    line-height: 24px;
  }

  .section-main-first p {
    width: 400px;
    padding-top: 10px;
    font-size: 10px;
    line-height: 26px;
  }

  .section-main-two {
    width: 500px;
  }

  .section-main-two h2 {
    padding-top: 20px;
    font-family: 'Livvic';
    font-size: 14px;
    line-height: 24px;
  }

  .section-main-two p {
    width: 400px;
    padding-top: 12px;
    font-size: 10px;
    line-height: 18px;
  }

  .section-main-three {
    width: 500px;
  }

  .section-main-three h2 {
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
  }

  .section-main-three p {
    width: 400px;
    font-size: 10px;
    line-height: 18px;
  }



}

@media (max-width: 568px) {
  .container {
    padding: 20px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo {
    width: 300px;
    gap: 20px;
  }

  .logo h3 {
    font-size: 20px;

  }

  .header-ul {
    gap: 8px;

    flex-direction: column;
  }

  .header-li a {
    font-size: 16px;
    line-height: 24px;
  }

  .auth button {
    padding: 4px 26px 4px 26px;

    font-size: 10px;
    line-height: 20px;

  }

  .main {
    padding-top: 70px;
    padding-bottom: 150px;
  }

  .main-title {
    gap: 15px;
  }

  .main-title h2 {
    text-align: center;
    width: 540px;
    font-size: 30px;
    line-height: 30px;
  }

  .span {
    font-size: 30px;
    line-height: 30px;
  }

  .main-nav {
    width: 400px;
  }

  .btn {
    width: 20px;
  }

  .main-nav p {
    padding-top: 20px;
    width: 380px;
    font-size: 12px;
    line-height: 18px;
  }


  .section {
    flex-direction: column;
    gap: 40px;
    padding: 80px 90px;
    height: 580px;

  }

  .section-title {
    width: 380px;
  }

  .section-title-title {
    width: 380px;
    font-size: 30px;
    line-height: 30px;
  }

  .section-main-first {
    width: 350px;
  }

  .section-main-first h2 {
    font-size: 10px;
    line-height: 18px;
  }

  .section-main-first p {
    width: 350px;
    padding-top: 8px;
    font-size: 8px;
    line-height: 20px;
  }

  .section-main-two {
    width: 450px;
  }

  .section-main-two h2 {
    padding-top: 15px;
    font-size: 10px;
    line-height: 18px;
  }

  .section-main-two p {
    width: 350px;
    padding-top: 8px;
    font-size: 8px;
    line-height: 16px;
  }

  .section-main-three {
    width: 450px;
  }

  .section-main-three h2 {
    padding-top: 15px;
    padding-bottom: 8px;
    font-size: 10px;
    line-height: 15px;
  }

  .section-main-three p {
    width: 350px;
    font-size: 8px;
    line-height: 14px;
  }





}